@media (min-width: 1200px) {
    .container{
        min-width: 1200px;
    }
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #F5F5F5;
}

.container-grey{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 15px;
    margin-bottom: 25px;
}

.thumb {
    height: 75px;
    border: 1px solid #CCCCCC;
    margin: 10px 5px 0 0;
    cursor: pointer;
}

/*REVIEWS*/
/*Comment List styles*/
.review-list .row {
  margin-bottom: 0px;
}
.review-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.review-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.review-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.rating-description{
  margin-left: 10px;
  margin-top: 5px;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .review-list .arrow:after, .review-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .review-list .panel.arrow.left:after, .review-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .review-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .review-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .review-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .review-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
/*END REVIEWS*/

/*OVERRIDE CUSTOM BOOTSTRAP*/
.well{
    background-color: #ffffff;
}
.btn-success{
    background:transparent;
    border: 2px solid #3FB618;
    color: #3FB618;
}
.btn-primary{
    background:transparent;
    border: 2px solid #2780e3;
    color: #2780e3;
}
.btn-warning{
    background:transparent;
    border: 2px solid #ff7518;
    color: #ff7518;
}
.btn-default{
    background:transparent;
    border: 2px solid #222222;
    color: #222222;
}
.btn-navbar{
    background:transparent;
    color: #ffffff;
}
.btn-navbar:hover{
    background:#090909;
}
.btn-danger{
    background:transparent;
    border: 2px solid #ff0039;
    color: #ff0039;
}
.pagination>li.active>a{
    background: #2780E3;
    color: #ffffff;
}
.pagination>li.active>a:hover{
    background: #2780E3;
    color: #ffffff;
}
/*END OVERRIDE CUSTOM BOOTSTRAP*/

a{
    text-decoration: none;
}

#message {
    position: fixed;
    top: 0;
    left: 25vw;
    margin-top:50px;
    width: 50%;
    z-index: 9999;
    display: none;
}
#inner-message {
    margin: 0 auto;
}

.main-container {
    margin-top: 50px;
}

.container {
    margin-top: 80px;
}

.shop-container {
    padding-right: 50px;
}

.navbar {
    margin-bottom: 0;
}

.slider-area{
    padding-top:120px;
    padding-left:100px;
}

.slider-heading-light{
    color: #ffffff;
    font-size: 70px;
}

.slider-description-light{
    color: #ffffff;
    padding-top: 5px;
    font-size: 18px;
    font-weight: light;
}

.slider-button-light{
    color: #ffffff;
    border: 2px solid #ffffff;
    background: transparent;
}
.slider-button-light:hover{
    color: #ffffff;
}

.slider-heading-dark{
    color: #000000;
    font-size: 70px;
}

.slider-description-dark{
    color: #000000;
    padding-top: 5px;
    font-size: 18px;
    font-weight: light;
}

.slider-button-dark{
    color: #000000;
    border: 2px solid #000000;
    background: transparent;
}
.slider-button-dark:hover{
    color: #000000;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.thumbnail img{
    max-height: 242px;
}

.stockIndicator{
    font-size: 12px;
    font-weight: 300;
}

.caption .heading .name{
    color: #0074CF;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    font-weight: 400;
    padding-left: 5px;
}

.caption .heading .category{
    color: #666666;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.caption .heading .seller{
    color: #333333;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 500;
    padding-left: 5px;
    padding-bottom: 5px;
}

.caption .heading .stock{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
}

.caption .heading .price{
    color: #CB2E39;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.caption .description{
    color: #7f7f7f;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

p {
    white-space: pre-line;
}

/* FOOTER STYLING */

#myFooter {
    background-color: #373a48;
    color:white;
}

#myFooter .footer-copyright{
    background-color: #383737;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}

#myFooter .footer-copyright p{
    margin:10px;
    color: #ccc;
}

#myFooter ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
    color:#d2d1d1;
    text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
    text-decoration: none;
    color:white;
}

#myFooter .myCols{
    text-align: center;
}

#myFooter .social-networks{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
    text-decoration: none;

}

#myFooter .facebook:hover{
    color:#0077e2;
}

#myFooter .google:hover{
    color:#ef1a1a;
}

#myFooter .twitter:hover{
    color: #00aced;
}

@media screen and (max-width: 767px){
    #myFooter {
        text-align: center;
    }
}

#myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

/* END OF FOOTER STYLING */

/* PRELOADER STYLING */
#loader-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper {
    top: 0;
    left: 0;
}

#loader {
    text-align: center;
    padding-top: 40vh;
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

/* Loaded */
.loaded #loader {
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
}
/* END PRELOADER STYLING */
