<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/" class="navbar-left"><img class="img-responsive" style="max-height:50px;" src="/images/assets/logo.png"></a> -->
      <a class="navbar-brand" href="/">Shopping Platform</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/shop">Shop</a></li>
        <li><a href="/">About Us</a></li>
      </ul>
      <form id="searchForm" class="navbar-form navbar-left" method="get" action="/search/1">
        <div class="form-group dropdown">
          <button class="btn btn-navbar dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span id="currentCategory">All Categories</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li><a class="catDropdownButtons" href="#">All Categories</a></li>
            {{# each categories}}
            <li><a class="catDropdownButtons" href="#">{{this.categoryName}}</a></li>
            {{/each}}
          </ul>
        </div>
        <div class="form-group">
          <input type="text" name="q" id="q" class="form-control" placeholder="Search">
        </div>
        <button id="searchButton" type="submit" class="btn btn-navbar"><span class="fa fa-search"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart <span class="badge">{{session.cart.totalQuantity}}</span></a></li>
        {{# if loggedIn}}
          <li><a href="/sell">Sell</a></li>
          <li class="dropdown">
            <a href="/user/profile" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{user.fullName}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/user/profile">My Profile</a></li>
              <li><a href="/user/orders">Orders</a></li>
              <li><a href="/user/productsForSale">Products for Sale</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/user/logout">Logout</a></li>
            </ul>
          </li>
        {{ else }}
          <li><a href="/user/login">Login</a></li>
          <li><a href="/user/register">Register</a></li>
        {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
